@* Modified markup from Spur - Blank.html *@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">

    @* Bootstrap v4 *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* Custom css *@
    <link rel="stylesheet" href="~/css/site.css" />
    @* Spur *@
    <link href="~/lib/spur/dist/css/spur.min.css" rel="stylesheet" />
    <title>@ViewData["Title"] - BugTracker</title>
</head>

<body>
    <div class="dash">
        <div class="dash-nav dash-nav-dark">
            <header>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                @* Logo top left *@
                <a asp-controller="Home" asp-action="Index" class="spur-logo">
                    <i class="fas fa-bug"></i>
                    Bug Tracker
                </a>
            </header>

            @* The navigation list *@
        <nav class="dash-nav-list">
            <a asp-controller="Home" asp-action="Index" class="dash-nav-item">
                <i class="fas fa-home"></i>
                Home
            </a>

            @if (User.IsInRole("Administrator") || User.IsInRole("DemoAdministrator"))
            {
                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-users-cog"></i>
                        Roles
                    </a>
                    <div class="dash-nav-dropdown-menu">
                        <a asp-controller="Role" asp-action="Assignment" class="dash-nav-dropdown-item">Assignment</a>
                    </div>
                </div>

                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="far fa-clone"></i>
                        Projects
                    </a>
                    <div class="dash-nav-dropdown-menu">
                        <a asp-controller="Project" asp-action="Manage" class="dash-nav-dropdown-item">Manage</a>
                    </div>
                </div>
            }


            @if (User.IsInRole("Administrator") || User.IsInRole("Developer") || User.IsInRole("Submitter")
              || User.IsInRole("DemoAdministrator") || User.IsInRole("DemoDeveloper") || User.IsInRole("DemoSubmitter"))
            {
                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-bug"></i>
                        Bug Tickets
                    </a>
                    <div class="dash-nav-dropdown-menu">
                        <a asp-controller="Ticket" asp-action="Manage" class="dash-nav-dropdown-item">Manage</a>
                        <a asp-controller="ClosedTicket" asp-action="Index" class="dash-nav-dropdown-item">Closed Tickets</a>
                    </div>
                </div>
            }


            <div class="dash-nav-dropdown">
                <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                    <i class="fas fa-info"></i> About
                </a>
                <div class="dash-nav-dropdown-menu">
                    <a asp-controller="Home" asp-action="Privacy" class="dash-nav-dropdown-item">Privacy</a>
                    <a href="https://hackerthemes.com/bootstrap-templates/spur/" target="_blank" class="dash-nav-dropdown-item">Spur Template</a>
                </div>
            </div>
        </nav>
        </div>
        <div class="dash-app">
            <header class="dash-toolbar">
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                <div class="tools">
                    <div class="dropdown tools-item">
                        @* Account dropdown menu *@
                        <a href="#" class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <form id="logoutForm" class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </header>
            <main class="dash-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* Spur js *@
    <script src="~/lib/spur/dist/js/spur.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
