@{ ViewData["Title"] = "Rename Project"; }
@model BugTracker.ViewModels.ProjectViewModel

<h1>Rename Project</h1>
<form asp-controller="Project" asp-action="Update" method="post">
    <div class="input-group">
        @* Textbox *@
        @Html.TextBoxFor(model => model.currProject.Title, new { @class = "form-control" })

        @* Update button *@
        <div class="input-group-append">
            <button type="submit" class="btn btn-success">Rename</button>
        </div>
    </div>
    @if (Model.errorMsg != "")
    {
        <ul>
            <li style="color:red">@Model.errorMsg</li>
        </ul>
    }
</form>

@* Cancel button *@
<a asp-controller="Project" asp-action="Manage" class="btn btn-sm btn-danger">Cancel</a>