@{
    ViewData["Title"] = "Rename Project";
}
@model BugTracker.ViewModels.ProjectViewModel

<h1>Rename Role</h1>
@using (var form = Html.BeginForm("Update", "Project", FormMethod.Post))
{
    <div class="input-group">
        @* Textbox *@
        @Html.TextBoxFor(model => model.currProject.Title, new { @class = "form-control" })

        @* Update button *@
        <div class="input-group-append">
            <button type="submit" class="btn btn-success">Rename</button>
        </div>
    </div>
}