@{
    ViewData["Title"] = "Edit Comment";
}
@model BugTracker.ViewModels.CommentEditViewModel


<h1 class="dash-title">Edit Comment</h1>

@if(Model.ErrorExists)
{ 
    <ul style="color:red">
        <li>The comment must contain between 3 and 255 characters</li>
    </ul>
}

<form asp-controller="Comment" asp-action="Edit" asp-route-returnticketId="@Model.ReturnTicketId" asp-route-commentId="@Model.currComment.Id" method="post">
    <div class="input-group">
        
        @* Textbox *@
        <input asp-for="@Model.currComment.Msg" class="form-control"/>

        @* Update button *@
        <div class="input-group-append">
            <button type="submit" class="btn btn-success">Rename</button>
        </div>
    </div>
</form>

@* Cancel button *@
<a asp-controller="Ticket" asp-action="Details" asp-route-ticketId="@Model.ReturnTicketId" class="btn btn-sm btn-outline-danger">Cancel</a>
