@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

@* Login Page *@
<div class="form-screen">
    <h1>@ViewData["Title"]</h1>
    <div class="card account-dialog">
        <div class="card-header bg-primary text-white text-center"> Please log in </div>
        <div class="card-body">


            <form id="account" method="post">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@

                @* UserName field *@
                <div class="form-group">
                    <input asp-for="Input.UserName" class="form-control" placeholder="Enter username" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>

                @* Password field *@
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                @* "Remember Me" checkbox *@
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" asp-for="Input.RememberMe">
                        <label class="custom-control-label" asp-for="Input.RememberMe">
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>

                @* Login button and register link *@
                <div class="account-dialog-actions">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a class="account-dialog-link" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </div>
            </form>
        </div>
    </div>

    <a class="account-dialog-link" asp-page="./DemoLogin" asp-route-returnUrl="@Model.ReturnUrl">Use demo account</a>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
