@* Modified view code from: https://asp.mvc-tutorial.com/working-with-databases/todo-list-the-view/ *@
@{ ViewData["Title"] = "Manage Roles"; }
@model BugTracker.ViewModels.RoleViewModel




<h1>Manage Roles</h1>

@if(Model.newRoleHasNoTitle)
{ 
    <ul>
        <li style="color:red">New role title is empty!</li>
    </ul>
}

<table class="table table-striped table-bordered table-hover" style="max-width: 500px;">
    @* Create roles field *@
    <tr>
        <td colspan="2">
            <form asp-controller="Role" asp-action="Create" method="post">
                <div class="input-group">
                    @* Textbox *@
                    <input asp-for="@Model.currRole" class="form-control" placeholder="New role name..." />

                    @* Create button *@
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </div>
                @Html.ValidationSummary()
            </form>
        </td>
    </tr>

    @* Role list *@
    @if (Model.roleList.Count != 0)
    {
        @foreach (var item in Model.roleList)
        {
            <tr>
                @* Role Name, Rename Btn, Delete Btn *@
                <td>
                    @item.Name
                </td>

                <td class="text-center">
                    <a href="/Role/Rename/@item.Id" class="btn btn-sm btn-primary">Rename</a>

                    <a href="/Role/Delete/@item.Id" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>
                Looks like there are no roles!<br>Make some with the create button
            </td>
        </tr>
    }
</table>