@* Modified view code from: https://asp.mvc-tutorial.com/working-with-databases/todo-list-the-view/ *@
@{ ViewData["Title"] = "Rename Role"; }
@model BugTracker.ViewModels.RoleViewModel


<h1>Rename Role</h1>

@if (Model.newRoleHasNoTitle)
{
    <ul>
        <li style="color:red">New role title is empty!</li>
    </ul>
}

<form asp-controller="Role" asp-action="Update" asp-route-id="@Model.currRole.Id" method="post">
    <div class="input-group">
        @* Textbox *@
        <input asp-for="@Model.currRole.Name" class="form-control" />

        @* Update button *@
        <div class="input-group-append">
            <button type="submit" class="btn btn-success">Rename</button>
        </div>
    </div>
</form>


@* Cancel button *@
<a asp-controller="Role" asp-action="Manage" class="btn btn-sm btn-danger">Cancel</a>
