@* Modified view code from: https://asp.mvc-tutorial.com/working-with-databases/todo-list-the-view/ *@
@{
    ViewData["Title"] = "Rename Role";
}
@model BugTracker.ViewModels.RoleViewModel


<h1>Rename Role</h1>
@using (var form = Html.BeginForm("Update", "Role", FormMethod.Post))
{
    <div class="input-group">
        @* Textbox *@
        @Html.TextBoxFor(model => model.currRole.Name, new { @class = "form-control" })

        @* Update button *@
        <div class="input-group-append">
            <button type="submit" class="btn btn-success">Rename</button>
        </div>
    </div>
}

@* Cancel button *@
<a asp-controller="Role" asp-action="Manage" class="btn btn-sm btn-danger">Cancel</a>
